body {
  background-color: aquamarine;
}

header {
  text-align: center;
}
#jumbotron {
  background-color: red;
  color: white;
}
#answers {
  width: 200px;
  height: 200px;
}

.btn {
  margin: 10px;
}

#answers,
#answer0,
#answer1,
#answer2,
#answer3 {
  width: 50%;
}

#difficultyButtons {
  display: inline;
}

#timerSpot {
  margin-left: 40%;
}

#highScoreModalButton {
  margin-left: 40%;
}

@media only screen and (max-width: 600px) {
  .display-4 {
    font-size: 1.5rem;
  }
  #jumbotron {
    padding: 16px;
  }
}
